<div>
    <app-nav-user></app-nav-user>
</div>
<h1>Transcations History</h1>

<h2>Check Transactions</h2>

<input type="text" [(ngModel)]="searchText" (keyup)="filterTransactions()" placeholder="Search transaction" />

<ul>

<div class="card my-5">

    <div class="card-body">

      <table class="table table-bordered table-striped">

        <thead class="thead-dark">

      <tr>

        <th>Transaction Id</th>

        <th>Merchant</th>

        <th>Time</th>

        <th>Amount</th>

        <th>Currency</th>

        <th>Payment Method</th>

        <th>Payment Status</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let item of transactions">

        <td>{{ item.transactionId }}</td>

        <td>{{ item.merchant }}</td>

        <td>{{ item.transactionDateTime}}</td>

        <td>{{ item.amount}}</td>

        <td>{{ item.currency}}</td>

        <td>{{ item.paymentMethod }}</td>

        <td>{{ item.paymentStatus }}</td>

      </tr>

    </tbody>

  </table>

  </div>

  </div>

</ul>

 

 

 

 
