 <!-- Content Row-->

 <div class="row gx-4 gx-lg-5">

    <div class="col-md-4 mb-5">

        <div class="card h-100">

            <div class="card-body">

                <h2 class="card-title">Silver Card</h2>

                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>

            </div>

            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>

        </div>

    </div>

    <div class="col-md-4 mb-5">

        <div class="card h-100">

            <div class="card-body">

                <h2 class="card-title">Gold Card</h2>

                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>

            </div>

            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>

        </div>

    </div>

    <div class="col-md-4 mb-5">

        <div class="card h-100">

            <div class="card-body">

                <h2 class="card-title">Platinum Card</h2>

                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>

            </div>

            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>

        </div>

    </div>

</div>

 

<!-- <div class="card text-white my-5 py-4 text-centre">

    <div class="center">

        <video width="320" height="240" controls style="align-content: center;">

        <source src="" type="video/mp4/">

        </video>

    </div>

</div> -->

<!-- <div class="card-body" id="youtube">

    <p class="text-white m-0" style="font-size: x-large; text-align: center;">

    <a href="https://youtu.be/LUXCNFGTjH4?si=zyN22MXcY0sOzYUn"></a>

    </p>

</div> -->

 
