.mat-stepper-horizontal {

  margin-top: 8px;

}



.mat-mdc-form-field {

  margin-top: 16px;

}



.wrapper{

  width : 500px

}

input[type=number]::-webkit-inner-spin-button,

input[type=number]::-webkit-outer-spin-button {

-webkit-appearance: none;

}
.adminform{
  margin: 20px;
  margin-left: 350px;
  align-items: center;
  max-width: 50%;
  align-self: center;
  text-align: center;
}

.formlabel{
  width: 50px;
  font-weight: bold;
}

h1{
  margin-left: 250px;
  color: rgb(33, 31, 30);
  margin-bottom: 50px;
}

.form-text{
  font-weight: 200;
}

.form-check-input{
  font-weight: bold;
}

.button{
  align-items: center;
  text-align: center;
}


